
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans+Condensed:wght@300&display=swap');

.interpreter-card {
    width: 25%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #9da7af7e;
    border: 1px solid rgb(155, 189, 201);
    border-radius: 8px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    
  }
  
  .interpreter-card:hover {
    transform: scale(1.05);
    background: linear-gradient(
    to left,
    rgb(107, 64, 107) 0%,    
    rgb(131, 161, 235) 100%
  )   
  }
  
  .interpreter-name{
    font-family: 'Open Sans Condensed', sans-serif;    
  }

  .interpreter-group{
    color: #55140c;
  }


  