



.individual-card-container{
    
        width: auto;
        height: auto;
        margin: 10px auto;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    
  
  
}

.interpreter{
  background: linear-gradient(
    to left,
    rgba(107, 64, 107,.2) 0%,    
    rgba(131, 161, 235,.2) 100%
  )
}

.supervisor{
  background: linear-gradient(
    to left,
    rgba(107, 64, 107,.2) 0%,    
    rgba(131, 161, 235,.2) 100%
  )
}