


.welcome-text{
  color: purple;
  text-align: center;
  font-size: 100%;
}

.buttons-container{
    width: auto;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
    to left,
    rgba(107, 64, 107,.2) 0%,    
    rgba(131, 161, 235,.2) 100%
  )   
}

