
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');



.interpreter-leave-card {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* background-color: #deaaf3; */
    border: 1px solid rgb(192, 229, 243);
    border-radius: 5px;
    padding: 25px;
    
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    /* align-items: flex-start; */
    margin-top: 5px;
  }

.show-date{
  margin-top: 2px;
  
  display: flex;
  flex-direction: row;
  align-self: center;
  font-family: 'Syne Mono', monospace;
}
.show-year{
  font-size: 30px;
  color: purple;
  padding: 5px 10px 0 0;
}
.wmd-container{
  color: chocolate;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  font-weight: bold;
}

.buttons-and-status{
  display: flex;
  
  justify-content: space-between;
}
.buttons-container{
  display: flex;
  flex-direction: row;
}
.status-container{
  display: flex;
  flex-direction: row;
  /* align-self: flex-end; */
  font-family: 'Teko', sans-serif;
  font-size: 24px;
}