



.interpreter-card-container{
    
        width: auto;
        height: auto;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    
    background: linear-gradient(
    to left,
    rgb(131, 161, 235) 0%,
    rgb(201, 212, 223) 100%
  )
  
}
