@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');




.welcome-user-container{
    display: flex;
    justify-content: center;
}
.welcome-user{
    font-family: 'Redressed', cursive;
}

