/* @import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Open+Sans+Condensed:wght@300&display=swap');
.supervisor-card {
    width: 25%;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: rgba(41, 2, 41, 0.2);
    border: 1px solid rgba(41, 2, 41, 0.4);    
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    align-items: flex-start;
  }
  
  .supervisor-card:hover {
    transform: scale(1.05);
    background: linear-gradient(
    to left,
    rgba(167, 43, 39,0.8) 0%,    
    rgba(235, 96, 15, 0.8) 100%
  )   
  }
  
  .supervisor-name{
    font-family: 'Open Sans Condensed', sans-serif;
    align-self: center;
    color: rgb(41, 2, 2);
    font-weight: bold;
  }
