  
  .btn-userType {
    background-color: rgba(28, 4, 37, 0.685) ;    
    height: 50px;
    min-width: 150px;
    border: none;
    /* border-radius: 10px; */
    color: #eee;
    font-size: 40px;
    font-family: 'Cookie', cursive;
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2px;   
    margin-left: 2px;
    margin-right: 2px; 
  }
  
  .btn-userType #circle {
    width: 200px;
    height:20px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 10%;
    overflow: hidden;
    transition: 500ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn-userType:hover{
    /* background: transparent; */
    background: linear-gradient(
    to left,
    rgba(107, 64, 107,0.9) 0%,    
    rgba(131, 161, 235,0.9) 100%
  )   
  }
  
  .btn-userType:hover #circle {
    height: 50px;
    width: 170px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #eee;
  }