


.jumbotron{
    height: 300px;    
}

.login-message{
  text-align: center;
  font-size: 100%;
}
.choose-login{
  color: purple
}
.phone-login{
  color: #4285F4;
}
.google-login{
  color: #0F9D58;
}

.loginType-message{
  padding-top: 40px;
  text-align: center;
  font-size: 150%;
  
}

.signin-buttons-container{
    width: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    background: linear-gradient(
    to left,
    rgba(15,157,88,.2) 0%,    
    rgba(66,133,244,.2) 100%
  )   
}

.google-logo:hover{
  cursor: pointer;
}
.phone-logo:hover{
  cursor: pointer;
}



.btn-login-cancel{
  min-width: 165px;
  width: auto;
  height: auto;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 20px;
  background-color: #F4B400;
  color: #4285F4;
  
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
 
}

.btn-back{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.btn-back:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}

.recapcha-container{
  display: flex;
  justify-content: center;
}

.attribute-the-author{
  display: flex;
  justify-content: center;
  margin-top: 40em;
}